<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>购物车</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{layuimini/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{layuimini/js/lay-module/step-lay/step.css}" media="all">
    <link rel="stylesheet" th:href="@{assets/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/vendor/font-awesome.css}">
    <link rel="stylesheet" th:href="@{assets/css/vendor/fontawesome-stars.css}">
    <link rel="stylesheet" th:href="@{assets/css/vendor/ion-fonts.css}">
    <link rel="stylesheet" th:href="@{assets/css/plugins/slick.css}">
    <link rel="stylesheet" th:href="@{assets/css/plugins/animate.css}">
    <link rel="stylesheet" th:href="@{assets/css/plugins/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/plugins/venobox.css}">
    <link rel="stylesheet" th:href="@{assets/css/plugins/nice-select.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">

</head>

<body class="template-color-1">

<div class="main-wrapper">

    <div th:replace="system/common/commons.html::topBar"></div>

    <!-- Begin Umino's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a th:href="@{/toIndex}">首页</a></li>
                    <li class="active">购物车</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Umino's Breadcrumb Area End Here -->
    <!-- Begin Umino's Cart Area -->

    <div class="layui-fluid">
        <div class="layui-card">

            <div class="layui-card-body" style="padding-top: 40px;height: auto;">

                <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                    <div carousel-item>
                        <div>

                            <form action="javascript:void(0)">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="umino-product-thumbnail">图片</th>
                                            <th class="cart-product-name">商品名称</th>
                                            <th class="umino-product-price-name">价格</th>
                                            <th class="umino-product-price">内存</th>
                                            <th class="umino-product-quantity">数量</th>
                                            <th class="umino-product-remove">删除</th>
                                        </tr>
                                        </thead>

                                        <tbody th:if="${totalPrice == 0}">
                                            <td colspan="6">
                                                购物车为空
                                            </td>
                                        </tbody>

                                        <tbody th:if="${totalPrice != 0}" th:each="orderInfo : ${orderInfos}">
                                        <tr>
                                            <td class="umino-product-thumbnail"><img th:src="${orderInfo.getGoodsImg()}" style="width: 60px;height: 60px;"></td>
                                            <td class="umino-product-name"><a href="javascript:void(0)">[[${orderInfo.getGoodsName()}]]</a></td>
                                            <td class="umino-product-price"><span class="amount">[[${orderInfo.getGoodsPrice()}]]</span></td>
                                            <td class="umino-product-price"><span class="amount">[[${orderInfo.getGoodsCapacity()}]]</span></td>
                                            <td class="quantity"><span class="amount">[[${orderInfo.getGoodsCount()}]]</span></td>
                                            <td class="umino-product-remove" id="del">
                                                <input hidden th:value="${orderInfo.getId()}">
                                                <a onclick="delOrder()"><i class="fa fa-trash" title="Remove"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 ml-auto">
                                        <div class="cart-page-total">
                                            <h2>购物车总计</h2>
                                            <ul>
                                                <li>数量 <span>[[${totalCount}]]</span></li>
                                                <li>总计 <span>[[${totalPrice}]]</span></li>
                                            </ul>
                                            <button  th:if="${totalPrice != 0}" style="margin-top: 20px" class="layui-btn" lay-submit lay-filter="formStep">
                                                &emsp;下一步&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div>
                            <form>

                            <script type="text/html" id="toolbar">
                                <div class="layui-btn-container">
                                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"><i class="layui-icon layui-icon-addition"></i>新增收货地址</button>
                                </div>
                            </script>


                            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

                            <div class="layui-form-item" style="margin: 0 auto">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                </div>
                            </div>

                            <script type="text/html" id="currentTableBar">
                                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="choose">选择该地址支付</a>
                                <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                                <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="del">删除</a>
                            </script>
                            </form>
                        </div>
                        <div>
                            <div style="text-align: center;margin-top: 90px;">
                                <i class="layui-icon layui-circle"
                                   style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                    支付成功
                                </div>
                                <div style="font-size: 14px;color: #666;margin-top: 20px;">订单将在24小时内发货</div>
                            </div>
                            <div style="text-align: center;margin-top: 50px;">
                                <button class="layui-btn layui-btn-primary" onclick="backToIndex()">返回首页</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>




    <!-- Umino's Cart Area End Here -->

    <div th:replace="system/common/commons.html::bottomBar"></div>

</div>

<div id="dataFormModal" style="display: none;padding: 10px">
    <form class="layui-form layuimini-form" id="dataForm" lay-filter="dataFormFilter">
        <input type="hidden" name="id">
        <input type="hidden" id="userId" name="userId" th:value="${userInfo.getId()}">
        <div class="layui-form-item">
            <label class="layui-form-label required">联系人</label>
            <div class="layui-input-block">
                <input type="text" name="userNickname" lay-verify="required" placeholder="请输入内容" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="userMobile" lay-verify="required" placeholder="请输入内容" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">收货地址</label>
            <div class="layui-input-block">
                <input type="text" name="userDeliveryAddr" lay-verify="required" placeholder="请输入内容" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="dataFormSubmit">保存</button>
                <button type="button" class="layui-btn layui-btn-primary" id="dataFormReset">取消</button>
            </div>
        </div>
    </form>
</div>

</body>

<script th:src="@{/layer/layer.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/layuimini/js/lay-config.js?v=2.0.0}" charset="utf-8"></script>

<script>

    var orderId = document.getElementById("del").childNodes[1].value;

    layui.use([ 'form', 'step' , 'table'], function () {
        var $ = layui.$,
            form = layui.form,
            step = layui.step,
            table = layui.table;

        let active = {
            dataModelType: 1,
            openDataFormModal() {
                let title = active.dataModelType == 1 ? '添加收货地址' : '编辑收货地址';
                layer.open({
                    title: title
                    , type: 1
                    , content: $('#dataFormModal')
                    , area: ['50%', '50%']
                    , maxmin: true
                    , cancel: function () {
                        active.closeDataFormModal();
                    }
                });
            },
            closeDataFormModal() {
                $('#dataForm')[0].reset();
                layer.closeAll();
            }
        };


        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '62%', //设置容器宽度
            stepWidth: '750px',
            height: '700px',
            stepItems: [{
                title: '确认购物单信息'
            }, {
                title: '填写收货地址'
            }, {
                title: '完成'
            }]
        });

        form.on('submit(formStep)', function (data) {
            table.render({
                elem: '#currentTableId',
                method: 'post',
                where:{
                    userId: $("#userId").val()
                },
                url: '/system/deliveryAddrInfo/listByTable',
                toolbar: '#toolbar',
                defaultToolbar: ['filter', 'exports', 'print'],
                cols: [ [
                    {type: 'numbers',title: '序号'},
                    {field: 'userNickname', width: 150, title: '联系人'},
                    {field: 'userMobile', width: 200, title: '手机号码'},
                    {field: 'userDeliveryAddr', title: '收货地址'},
                    {title: '操作', width: 300,align:"center", toolbar: '#currentTableBar', align: "center"}
                ]],
                limits: [10, 15, 20,50,100],
                limit: 20,
                page: true,
            });
            step.next('#stepForm');
            return false;
        });


        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });

        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                active.dataModelType = 1;
                active.openDataFormModal();
            }
        });

        table.on('tool(currentTableFilter)',function (obj) {
            let data = obj.data;
            if(obj.event === 'edit'){
                //显示当前行的数据
                active.dataModelType = 2;
                form.val('dataFormFilter',data);
                active.openDataFormModal();
            }else if(obj.event === 'del'){
                layer.confirm('确定删除该收货地址嘛?',function (index) {
                    $.ajax({
                        type: 'post',
                        url: '/system/deliveryAddrInfo/deleteById',
                        data: {id: data.id},
                        dataType: 'json',
                        success: function (res) {
                            if(res.code == 200){
                                layer.msg(res.data, {time: 1000, icon: 1}, function () {
                                    window.location.reload();
                                });
                            }else{
                                layer.msg(res.data, {time: 1000, icon: 2});
                            }
                        },
                        error: function (res){
                            layer.msg('请求失败',{time: 1000, icon: 2});
                        }
                    });
                });
            }else if(obj.event === 'choose'){
                //支付订单
                $.ajax({
                    type: 'post',
                    url: '/system/orderInfo/pay',
                    dataType: 'json',
                    data:{
                        id: data.id,
                        userId: data.userId
                    },
                    success: function (res) {
                        if(res.code == 200){
                            layer.msg(res.data, {time: 1000, icon: 1}, function () {
                                step.next('#stepForm');
                            });
                        }else{
                            layer.msg(res.message, {time: 1000, icon: 2});
                        }
                    },
                    error: function (res){
                        layer.msg('请求失败',{time: 1000, icon: 2});
                    }
                });
                return false;
            }
        });

        // 监听 add表单 关闭
        $('#dataFormReset').on('click', function () {
            active.closeDataFormModal();
        });
        //监听表单提交
        form.on('submit(dataFormSubmit)', function (data) {
            $.ajax({
                type: 'post',
                url: active.dataModelType == 1 ? '/system/deliveryAddrInfo/save' : '/system/deliveryAddrInfo/updateById',
                dataType: 'json',
                data: data.field,
                success: function (res) {
                    if(res.code == 200){
                        layer.msg(res.data, {time: 1000, icon: 1}, function () {
                            window.location.reload();
                        });
                    }else{
                        layer.msg(res.data, {time: 1000, icon: 2});
                    }
                },
                error: function (res){
                    layer.msg('请求失败',{time: 1000, icon: 2});
                }
            });
            return false;
        });


    })

    function delOrder(obj){
        layer.confirm("确定删除吗？", {btn:["确定","取消"]},
            function () {
                g_showLoading();
                $.ajax({
                    url:"/system/orderInfo/delOrder",
                    type:"POST",
                    data:{
                        id: orderId
                    },
                    success: function(data){
                        if(data.code == 200){
                            window.location.reload();
                        }else{
                            layer.msg(data.message);
                        }
                    },
                    error: function(){
                        layer.msg("删除失败");
                    }
                })
            },
            function () {
                layer.close();
            })
    }

    function backToIndex(){
        window.location.href = '/';
    }
</script>



</html>

